.content-gap{
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    
}
.content-gap a{
    padding-bottom: 1rem;
}
.content-gap img{
    width: 120px;
    object-fit: cover;

}