.contacto-form-container{
  min-width: 400px;
  max-width: 400px;
}
.contacto-form-container h2{
  color: #fff;
  margin: 0;
}

.contacto-form{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.contacto-form input{
  margin-bottom: 1rem;
  padding: 0.6rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
.checkbox-group{
  display: flex;
  flex-wrap: wrap;  
  color: #fff;
  padding: 1rem 0 1rem 0;
}

.btn-contactar{
  display: inline-block;
  background-color: #DFBD7C;
  border: none;
  border-radius: 5px;
  padding: .5rem 0 .5rem 0;
  cursor: pointer;
}

.mensaje-exito{
  color: #DFBD7C;
  font-weight: 650;
}

