.contacto-form-container{
  min-width: 300px;
  max-width: 400px;
}
.contacto-form-container h2{
  color: #fff;
  margin: 0;
}

.contacto-form{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.contacto-form input{
  margin-bottom: 1rem;
  padding: 0.6rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
.checkbox-group{
  display: flex;
  flex-wrap: wrap;  
  color: #fff;
  padding: 1rem 0 1rem 0;
}

.btn-contactar{
  display: inline-block;
  background-color: #DFBD7C;
  border: none;
  border-radius: 5px;
  padding: .5rem 0 .5rem 0;
  cursor: pointer;
  font-size: 16px;
}

.mensaje-exito{
  color: #DFBD7C;
  font-weight: 650;
}

.box-policy{
  padding-bottom: 1rem;
}

.box-policy #policyCheck{
  margin: 0 10px 0 0;
}

.box-policy label{
  color: #fff;
  line-height: 1.6rem;

}
.box-policy a{
  color: #DFBD7C;
  text-decoration: none;
}
.box-policy a:hover{
  text-decoration: underline;
}

