.content-tittle{
    display: flex;
    justify-content: space-around;
    border-bottom:1px solid #889AA4;
}

.content-tittle h3{
    text-align: center;
    width: 100%;

}
.content-difference{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
}
.content-difference ,.concept ,.content-actual, .content-proyectado ,.diferencia{
    width: 100%;
    text-align: center;
}
.concept .result-concept{
    display: flex;
    width: 100%;
    justify-content: space-around;


}
.concept .result-concept p{    
    width: 100%;
    font-size: 14px;
}
@media (max-width:1000px) {
    .content-tittle h3{
        font-size: 16px;
    }
    .concept .result-concept p{    
        font-size: 14px;
    }


    
}


