.spinner-timed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  min-height: 120px;
  font-weight: 500;
  font-size: 20px;
}

.spinner-timed-container .spinner {
  width: 80px;
  height: 80px;
  border: 8px solid #ccc;
  border-top: 8px solid #DFBD7C;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}