.box-footer{
    backGround: linear-gradient(130deg,#424948 50%, #ffffff00);
    padding: 3rem 5rem 1rem 5rem;   
    
}
.content-footer{
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content-contacto{
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    color: #fff;
}
.content-contacto .item-img{    
    display: flex;
    gap: 10px;         
    align-items: center;   
}

.item-img  a{
    text-decoration: none;
    color: #fff;
}
.item-img a:hover{
    text-decoration: underline;
}
.content-img{
    padding-bottom: 1rem;
    display: flex;
    gap: 1.8rem;
}
.content-img img{
    width: 110px;
    
}
.item-interes ul, li a{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #000;
    padding: 0;
}
.derechos p{
    margin-top: 2rem;
    margin-bottom: 0;
    padding: 0;
    color: #fff;

}
@media (max-width: 480px) {
    .box-footer{
        padding: 2rem;
    }
    
}





