.box-home{
    width: 100%;
    font-family: "Jost", serif ;
    font-optical-sizing: auto;
    font-weight: 450;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    /* background-image: url('../../../../public/backGround.jpeg'); */
    background-size: cover;
    background-repeat: no-repeat;



}

.box-home a{
    background-color:#DFBD7C;
    padding: .6rem;
    text-decoration: none;
    color:  #333;
    border-radius: 4px;
}