 .radar-chart-responsive-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  height: 400px;
  padding: 0; 
}

@media (max-width: 480px) {
  .radar-chart-responsive-container {
    padding-top: 40px;    
    height: 300px; 
    
  }
}
